In [18]:
import pandas as pd
import numpy as np

In [19]:
#Task 1: Read the given dataset
#read the 'fatality.csv' file
df = pd.read_csv("fatality.csv")
df.head()

,id,incident_date,day_of_week,city,state,description,plan,citation,Unnamed
0,1,2009-06-23,tuesday,tampa,florida,Victim was inside a building bundling material...,unknown,unknown,0
1,2,2009-06-30,tuesday,conroe,texas,Victim was on a scaffold doing repairs on an a...,unknown,unknown,0
2,3,2009-07-06,monday,miami,florida,"Victim was conducting roofing work, and fell t...",unknown,unknown,0
3,4,2009-07-09,thursday,north platte,nebraska,Victim was climbing a ladder while servicing a...,unknown,unknown,0
4,5,2009-07-11,saturday,greensburg,pennsylvania,Employees were throwing away old files. They h...,unknown,unknown,0

In [20]:
#Task 2: Clean the given dataset
# Remove the 'Unnamed' column
df = df.drop('Unnamed', axis = 1)

In [22]:
#Task 3: Export the cleaned dataset to "fatalities_cleaned.csv"
df.to_csv('fatalities_cleaned.csv', index=False)